* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body { min-height: 100vh;
       font-family: 'Open Sans', sans-serif;
       color: #B1B1B1;
       height:150vh;
}
#logo{
width:100px;
}


/* Footer */

.footer-basic {
  padding:9px 0;
  background-color: #343a40!important;
  color:rgba(255,255,255,.5);
   position:fixed;
  bottom:0;
  left:0;
  width:100%;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}
/* General */
#gen_head{
    text-align:center;
    background-color:#1B1B1B;
    border:solid 1px black;
    width:24%;
/*    margin-left:35%;
    margin-top:1%;*/
    border-bottom-width:4px;
    transform: skew(30deg);
  margin:auto auto;
  left:0;
  margin-bottom:2%;
  right:0;
  top: 0;
  bottom:0;
}
#gen_head h2{
    padding-top:2%;
    transform: skew(-30deg);
}
#gen_head hr{
    border-color: white;
    transform: skew(-30deg);
    width: 65%;
    margin: 0 auto;
}
#gen_head p{
    padding-top:0;
    transform: skew(-30deg);
}
#gen_mid img{
    width:80%;
}
.heat{
    margin-top:1%;
   margin-left:5%;
   width:90%;
}

/* Dashboard */

#dashboard{
    text-align:center;
    min-height:100%;
    margin-top:1.5%;
}
#das_left{
    margin-left: 9%;
    width: 40%;
    background: #1B1B1B;
    border: solid 1px black;
    padding: 2%;
    text-align: center;

}
#das_left div{
transform: skew(30deg);
}
#dashboard hr{
    margin-top: 0;
    border-color:#B1B1B1;
   }
#das_right{
    margin-left: 42%;
    width: 65%;
    background: #1B1B1B;
    border: solid 1px black;
    padding: 10%;
    font-size:14px;
      text-align: justify;
      padding-bottom:2%;
      padding-top:2%;
}
#das_right div{
transform: skew(30deg);
}
/* Clubs */
#gen_mu{
    text-align:center;
    background-color:#1B1B1B;
    border:solid 1px black;
    width:22%;
/*    margin-left:35%;
    margin-top:1%;*/
    border-bottom-width:4px;
    transform: skew(30deg);
  margin:auto auto;
       margin-left:8%;
  float:left;
  left:0;
  right:0;
  top: 0;
  bottom:0;
}

#clubs_head a{
color:rgba(255,255,255,.5);

}
#clubs_head a:hover{
color: rgb(255 255 255 / 72%);
}
#gen_mu h2{
    padding-top:2%;
    transform: skew(-30deg);
}
#gen_mu hr{
    border-color: white;
    transform: skew(-30deg);
    width: 65%;
    margin: 0 auto;
}

#gen_mu p{
    padding-top:0;
    transform: skew(-30deg);
}
#gen_bar p{
    padding-top:0;
    transform: skew(-30deg);
}
#gen_le p{
    padding-top:0;
    transform: skew(-30deg);
}
#gen_bar{
    text-align:center;
    background-color:#1B1B1B;
    border:solid 1px black;
    width:22%;
/*    margin-left:35%;
    margin-top:1%;*/
    border-bottom-width:4px;
    transform: skew(30deg);
  margin:auto auto;
  float:left;
  left:0;
  margin-left:10%;
  right:0;
  top: 0;
  bottom:0;
}
#gen_bar h2{
    padding-top:2%;
    transform: skew(-30deg);
}
#gen_bar hr{
    border-color: white;
    transform: skew(-30deg);
    width: 65%;
    margin: 0 auto;
}
#gen_le{
    text-align:center;
    background-color:#1B1B1B;
    border:solid 1px black;
    width:22%;
/*    margin-left:35%;
    margin-top:1%;*/
    border-bottom-width:4px;
    transform: skew(30deg);
  margin:auto auto;
  left:0;
  right:0;
   margin-left:10%;
   float:left;
  top: 0;
  bottom:0;
}
#gen_le h2{
    padding-top:2%;
    transform: skew(-30deg);
}
#gen_le hr{
    border-color: white;
    transform: skew(-30deg);
    width: 65%;
    margin: 0 auto;
}
#clubs_main_ba{
 font-size:11px;
      width: 50%;
    float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
#clubs_main_ba table{
  margin:auto auto;
  left:0;
  right:0;
  top: 0;
  bottom:0;
  margin-top:2px;
  background-color: #343a40;
    border:black 1px solid;
  }
#clubs_main_ba th{
text-align:left;
width:90px;
}


#clubs_main_ba th:nth-child(2n){
background-color:#1B1B1B;
}
#clubs_main_ba th:nth-child(n+1){
background-color:#1B1B1B;
}
#clubs_main_ba th:nth-child(1){
width:40px;
}

#clubs_main_ba th:nth-child(5){
width:120px;
}
#clubs_main_ba th:nth-child(2){
width:150px;
}

#clubs_main_mu{
 font-size:11px;
      width: 50%;
    float: left;
  display: flex;
  justify-content: center;
  align-items: center;

}
#clubs_main_mu table{
  margin:auto auto;
  left:0;
  right:0;
  top: 0;
  bottom:0;
  margin-top:2px;
  background-color: #343a40;
    border:black 1px solid;
  }
#clubs_main_mu th{
text-align:left;
width:90px;
}


#clubs_main_mu table{
margin-top:2px;
border:black 1px solid;
}

#clubs_main_mu th:nth-child(2n){
background-color:#1B1B1B;
}
#clubs_main_mu th:nth-child(n+1){
background-color:#1B1B1B;
}
#clubs_main_mu th:nth-child(1){
width:40px;
}
#clubs_main_mu th:nth-child(5){
width:120px;
}
#clubs_main_mu th:nth-child(2){
width:150px;
}
#clubs_main_le{
 font-size:11px;
      width: 50%;
      margin-top: 2%;
    float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
#clubs_main_le table{
  margin:auto auto;
  left:0;
  right:0;
  top: 0;
  bottom:0;
  margin-top:2px;
  background-color: #343a40;
    border:black 1px solid;
  }
#clubs_main_le th{
text-align:left;
width:90px;
}

#clubs_main_le th:nth-child(n+1){
background-color:#1B1B1B;
}
#clubs_main_le th:nth-child(1){
width:40px;
}
#clubs_main_le th:nth-child(5){
width:120px;
}
#clubs_main_le th:nth-child(2){
width:150px;
}


#clubs_main{
  width:80%;
  margin:0 auto;
  margin-top:20%;
  padding-bottom:0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border:solid black 1px;
  border-bottom:solid black 2px;
}
#clubs_main p{
font-size:20px;
margin-bottom: 0px;
}
#clubs_main_down{
    margin: 0 auto;
    width: 50%;
    margin-left: 0;
    float: right;
}
#clubs_main_down img{
    margin: 0 auto;
    padding-bottom: 0px;
    display: flex;
    width: 100%;
    justify-content: center;}

#club_sp_d{
    text-align:center;
    background-color:#1B1B1B;
    border:solid 1px black;
    width:80%;
/*    margin-left:35%;
    margin-top:1%;*/
    border-bottom-width:4px;
    transform: skew(30deg);
  margin:auto auto;
  left:0;
  right:0;
  top: 0;
  bottom:0;
}

#club_sp_d p{
    padding-top:0;
    transform: skew(-30deg);
    margin-bottom:0;
}

#cl_down{
    text-align:justify;
    background-color:#1B1B1B;
    border:solid 1px black;
    width:80%;
/*    margin-left:35%;
    margin-top:1%;*/
    border-bottom-width:4px;
    transform: skew(30deg);
  margin:auto auto;
  left:0;
  right:0;
  padding:3%;
  top: 0;
  bottom:0;
}
#cl_down p{
    padding-top:0;
    padding:2%;
    transform: skew(-30deg);
    margin-bottom:0;
}
#cl_down_d{
    width:80%;
    margin: 0 auto;
    margin-top:2%;
}
#cl_down_d table{
float:left;
margin:1%;
    background-color: #343a40;
    border: black 1px solid;

 }
 #cl_down_d h4{
 text-align:center;
 margin:0 auto;
 }
 #cl_down_d th{
background-color: #1B1B1B;}

#cl_1{
margin-left:0%;
margin-top:2%;
}

#cl_2{
margin-left:6%;
margin-top:2%;
}
#cl_3{
margin-left:1%;
margin-top:2%;
}