{% extends 'Dane/index.html' %}
{% load static %}


   <title>{{ title }}</title>

{% block content  %}
<div id="clubs_head">
<a href="../manchester"><div id="gen_mu" ><h2> Manchester United</h2><hr><p>Analiza</p></div></a>

<a href="../barcelona"><div id="gen_bar" ><h2> FC Barcelona</h2><hr><p>Analiza</p></div></a>

    <a href="../legia"><div id="gen_le" ><h2> Legia Warszawa </h2><hr><p>Analiza</p></div></a>
</div>
<div id="clubs_main">
<p>Wybierz klub dla którego analizę, dokładne dane dotyczące składu oraz potencjalne transfery chcesz przejrzeć.</p>
</div>
{% endblock %}

