{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/contact.css' %}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
              $(".menu-activator").on("click", function() {
              $("body").toggleClass("menu-active");});
    </script>
    <title>{{ title }}</title>
</head>
<body>
    {% include 'Dane/navbar.html' %}
        {% block content %}


        {% endblock %}

    <div class="container">
  <div class="inner">
    <div class="panel panel-left">
      <div class="panel-content">
        <div class="image-background">
        </div>
      </div>
    </div>
    <div class="panel panel-right">
      <div class="panel-content">
        <div class="form">
          <h1>W sprawie kontaktu.</h1>
          <div class="group">
            <form><input type="text" required>
            <span class="highlight"></span>
            <label>Twoje imię</label>
          </div>
          <div class="group">
            <input type="text" required>
            <span class="highlight"></span>
            <label>Podaj e-mail</label>
          </div>
          <a class="send-btn"><input style="position: relative;  padding-top: 0%;  height: 48px;border: 0; color: #B1B1B1transition: 0.2s ease; margin-left: 33%;"type="reset" value="Wyślij"></input></form>
        </div>
      </div>
    </div>
  </div>
</div>
    {% include 'Dane/footer.html' %}
        {% block footer %}


        {% endblock %}

</body>
</html>