{% extends 'Dane/index.html' %}

{% block content  %}
        <div id="dashboard">
        <h1>Praca inżynierska</h1>
        <h2>Temat: Analiza danych w nowoczesnym futbolu.</h2>
        <h2>Autor: Mikołaj Bozik</h2>
        <h3> Opis projektu</h3>
        <p>Zrealizowanie bazy danych zawierającej informacje o szczegółowych statystykach związanych z czołowymi piłkarzami największych klubów na świecie. <br> Stworzenie algorytmów służących do klasyfikacji i analizy danych.<br> Zaimplementowanie środowiska, które pozwoli wyświetlić efekty i wnioski wyciągnięte poprzez analizę danych za pomocą algorytmów stworzonych w Pythonie.</p>
        <h3>Technologie</h3>
        <p>Django<br>Python<br>HTML<br>CSS<br>JavaScript</p>
        </div>
{% endblock %}