{% extends 'Dane/index.html' %}
{% load static %}
<title>{{ title }}</title>
{% block content  %}
        <div id="gen_mid">
                <div id="gen_head" ><h2> Generalna analiza</h2></div>
                <img class="heat" src="{% static 'images/heat_map2.png' %}">
                <div id="gen_text"> TEST TEST TEST TEST</div>
                <img src="{% static 'images/Kontrola.png' %}">
                <img src="{% static 'images/pozycje.png' %}">
                <img src="{% static 'images/plots.png' %}">

        </div>
{% endblock %}