{% extends 'Dane/index.html' %}
   <title>{{ title }}</title>
{% block content  %}
        <div id="dashboard">
        <div style="transform:skew(-30deg); width:83%;"><div id="das_left">
               <div style="padding:2%;"><h2>PRACA INŻYNIERSKA</h2>
                <hr style=" width: 72%;
    margin-left: 14%;
    margin-top: 0;
    border-color: #B1B1B1;">
                <h5>Temat: Analiza danych w nowoczesnym futbolu.</h5>
                <hr style="width:60%; margin-left:20%;">
                <h5>Autor: Mikołaj Bozik</h5></div>
        </div></div>
        <div style="transform:skew(-30deg); width:83%; margin-top:1.2%; "><div id="das_right"><div style="padding:4%;">
        <h5> Opis projektu</h5>
        <hr style="width:26%; margin-left:1%;">
        <p>Aplikacja ta została stworzona na potrzeby pracy inżynierskiej. <Br>
Zostały w niej zaprezentowe analizy piłkarskie związane z grą Fifa 2020. <br>
Na stronach związanych z analizą klubową, stworzona jest tabela wyświetlająca dane zawodników oraz obliczoną predykcję wartości zawodnika.<br> Strona analiza generalna zawiera kilka wykresów oraz obliczeń zrealizowanych dla wszystkich zawodników w grze.</p>
        <h5>Technologie</h5><hr style="width:23%; margin-left:1%;">
        <p>Django, Python, HTML, CSS, JavaScript</p>
        </div>
        </div>
        </div>
        </div>
{% endblock %}