{% extends 'Dane/index.html' %}
{% load static %}


   <title>{{ title }}</title>

{% block content  %}

<div id="gen_head" style="margin-bottom:0.5%;" ><h2>AS Roma</h2><p><!--Lista zawodników oraz spider plot--></p></div>
<div style="    height: 575px; margin: 0 auto; width: 80%; margin-bottom: 1%;"><div id="clubs_main_le">
  {{ html|safe }}
</div>
   <div id="clubs_main_down">  <img src="{% static 'images/le.png' %}"></img> <div id="club_sp_d"><p>Spider plot statystyk drużyny AS Roma</p>
        </div>
   </div>
    </div>
 <div id="cl_down">
       <p>Wypisanie i posortowanie składu na podstawie zarobków zawodników pozwoliło ujawnić najlepiej opłacanych zawodników w drużynie. <br> Dzięki temu automatycznie zostaje wybranych i wypisanych trzech najlepiej zarabiających zawodników a obok aplikacja wyświetla nam potencjalnych zamienników. </p>

 </div>

     <div id="cl_down_d"><h4>Propozycje zawodników i ich zastępstw</h4> <div id="cl_1">{{ z|safe }} {{ p|safe }} </div><div id="cl_2">{{ z2|safe }} {{ p2|safe }} </div><div id="cl_3">{{ z3|safe }} {{ p3|safe }}</div>

     </div>

       </div>   <div id="club_pred"><p style="text-align:justify;">Następnie dzięki stworzonemu modelowi predykcji, próbujemy przewidzieć wartość zawodników na podstawie ich umiejętności. <br>Poniżej widzimy liste zawodników AS Romy z obliczonymi przewidywanymi wartościami zawodników</p>
      {{ roma|safe }}</div></div>

    <div style="height:25px;"><hr></div>

{% endblock %}

